body {
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
}

.header, .first-section, .footer {
    background-color: #1f2937;

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 32px 64px;
}

.header-logo {
    font-size: 24px;
    font-weight: 1000;
    color: #F9FAF8;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 32px;
}

a, .navy-left p {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;

}

.first-section {
    display: flex;
    align-items: center;
    padding: 32px 64px;
    flex-grow: 1;
    gap: 8px;
}

.navy-left, .navy-right {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 8px;
}

h1 {
    font-size: 48px;
    font-weight: 1000;
    color: #F9FAF8;
    margin: 0;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 18px;
    width: 130px;
    height: 35px;
    border-radius: 10px;
    border: 0;
}

.navy-right {
    flex-grow: 1;
    flex-direction: row;
    justify-content: center;
}

.navy-image {
    max-width: 500px;
    display: flex;
    width: 100%;
    align-self: center;
}